{#
/**
 * @file
 * aaronpero-listing-card
 *
 * Available variables for aaronpero-listing-card:
 *  - aaronpero_listing_card.variable_name [variable_type]: Description of the variable. Example below.
 *  - aaronpero_listing_card.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

{% set card_image = '../../../assets/images/card-sale1.jpg' %}

{% if image %}
  {% set card_image = image %}
{% endif %}

<div class="aaronpero-listing-card hover:shadow-lg cursor-pointer rounded mb-20">
  <div class="relative card-image w-full bg-gray-500" style="background-image: url('{{ card_image }}');">
    <div class="card-date absolute text-white font-black">
      {{ card_date }}
    </div>
  </div>
  <div class="card-title w-full font-bold text-ultramarineblue">
    {{ title }}
  </div>
  <div class="card-location w-full">
    {% if location %}
      {% include '@atoms/location-icon-svg/_location-icon-svg.twig' with {
        additional_classes: 'mr-2'
      } %}
      <span class="inline">{{ location }}</span>
    {% endif %}
  </div>
  <div class="flex card-details mb-3">
    <div class="bedrooms mr-16">
      {% if bedrooms > 1 %}
        {% set card_bedrooms_text = 'Bedrooms' %}
      {% else %}
        {% set card_bedrooms_text = 'Bedroom' %}
      {% endif %}

      {% if bedrooms %}
        {% include '@atoms/bedrooms-icon-svg/_bedrooms-icon-svg.twig' with {
          additional_classes: 'mr-2'
        } %}
        <span class="inline"><span class="font-bold">{{ bedrooms }}</span> {{ card_bedrooms_text }}</span>
      {% endif %}
    </div>
    <div class="bathrooms">
      {% if bathrooms > 1 %}
        {% set card_bathrooms_text = 'Bathrooms' %}
      {% else %}
        {% set card_bathrooms_text = 'Bathroom' %}
      {% endif %}

      {% if bathrooms %}
        {% include '@atoms/bathrooms-icon-svg/_bathrooms-icon-svg.twig' with {
          additional_classes: 'mr-2'
        } %}
        <span class="inline"><span class="font-bold">{{ bathrooms }}</span> {{ card_bathrooms_text }}</span>
      {% endif %}
    </div>
  </div>
  <div class="flex card-details mb-3">
    <div class="floorarea mr-16">
      {% if floorarea %}
        {% include '@atoms/floorarea-icon-svg/_floorarea-icon-svg.twig' with {
          additional_classes: 'inline mr-2'
        } %}
        <span class="inline"><span class="font-bold">{{ floorarea }}</span> m2</span>
      {% endif %}
    </div>
    <div class="garage">
      {% if garage %}
        {% include '@atoms/garage-icon-svg/_garage-icon-svg.twig' with {
          additional_classes: 'inline mr-2'
        } %}
        <span class="inline">
          <span class="font-bold">{{ garage }}</span> Garage
        </span>
      {% endif %}
    </div>
  </div>
</div>
