{#
/**
 * @file
 * aaronpero-listing-card
 *
 * Available variables for aaronpero-listing-card:
 *  - aaronpero_listing_card.variable_name [variable_type]: Description of the variable. Example below.
 *  - aaronpero_listing_card.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

{% set card_date = ''  %}
{% set card_title = 'Attitude + Magnitude' %}
{% set card_location = '128 Lichfield Street' %}
{% set card_bedrooms = 4 %}
{% set card_bathrooms = 2 %}
{% set card_image = '../../../assets/images/card-sale1.jpg' %}

{% if date %}
  {% set card_date = date %}
{% endif %}

{% if display_price %}
  {% set card_date = display_price %}
{% endif %}

{% if status == 'sold' %}
  {% set card_date = status %}
{% endif %}

{% if title %}
  {% set card_title = title %}
{% endif %}

{% if location %}
  {% set card_location = location %}
{% endif %}

{% if bedrooms %}
  {% set card_bedrooms = bedrooms %}
{% endif %}

{% if bathrooms %}
  {% set card_bathrooms = bathrooms %}
{% endif %}

{% if image %}
  {% set card_image = image %}
{% endif %}

<div class="aaronpero-listing-card hover:shadow-lg cursor-pointer rounded mb-20">
  <div class="relative card-image w-full bg-gray-500" style="background-image: url('{{ card_image }}');">
    <div class="card-date absolute text-white font-black">
      {{ card_date }}
    </div>
  </div>
  <div class="card-title w-full font-bold text-ultramarineblue">
    {{ card_title }}
  </div>
  <div class="card-location w-full mb-20">
    <svg width="16px" height="20px" viewBox="0 0 16 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="inline">
      <title>Slice</title>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="place-24px" transform="translate(-3.000000, -1.000000)">
          <polygon id="Path" points="0 0 22 0 22 22 0 22"></polygon>
          <path d="M11,11 C12.0083333,11 12.8333333,10.175 12.8333333,9.16666667 C12.8333333,8.15833333 12.0083333,7.33333333 11,7.33333333 C9.99166667,7.33333333 9.16666667,8.15833333 9.16666667,9.16666667 C9.16666667,10.175 9.99166667,11 11,11 Z M11,1.83333333 C14.85,1.83333333 18.3333333,4.785 18.3333333,9.35 C18.3333333,12.265 16.0875,15.6933333 11.605,19.6441667 C11.2566667,19.9466667 10.7341667,19.9466667 10.3858333,19.6441667 C5.9125,15.6933333 3.66666667,12.265 3.66666667,9.35 C3.66666667,4.785 7.15,1.83333333 11,1.83333333 Z" id="Shape" fill="#424B54" fill-rule="nonzero" opacity="0.74672154"></path>
        </g>
      </g>
    </svg>
    <span class="inline">{{ card_location }}</span>
  </div>
  <div class="flex card-details">
    <div class="bedrooms mr-16">
      {% if card_bedrooms > 1 %}
        {% set card_bedrooms_text = 'Bedrooms' %}
      {% else %}
        {% set card_bedrooms_text = 'Bedroom' %}
      {% endif %}

      <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="inline">
        <title>Slice</title>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="king_bed-24px" transform="translate(-1.000000, -1.000000)">
            <g id="Group">
              <rect id="Rectangle" x="0" y="0" width="22" height="22"></rect>
              <rect id="Rectangle" x="0" y="0" width="22" height="22"></rect>
            </g>
            <g id="Group" transform="translate(1.833333, 4.583333)">
              <rect id="Rectangle" x="3.66666667" y="1.83333333" width="4.58333333" height="2.75"></rect>
              <rect id="Rectangle" x="10.0833333" y="1.83333333" width="4.58333333" height="2.75"></rect>
              <path d="M16.5,4.58333333 L16.5,1.83333333 C16.5,0.825 15.675,0 14.6666667,0 L3.66666667,0 C2.65833333,0 1.83333333,0.825 1.83333333,1.83333333 L1.83333333,4.58333333 C0.825,4.58333333 0,5.40833333 0,6.41666667 L0,11 L1.21916667,11 L1.68666667,12.4025 C1.77833333,12.6591667 2.01666667,12.8333333 2.29166667,12.8333333 L2.29166667,12.8333333 C2.56666667,12.8333333 2.805,12.6591667 2.89666667,12.4025 L3.36416667,11 L14.9783333,11 L15.4458333,12.4025 C15.5283333,12.6591667 15.7666667,12.8333333 16.0416667,12.8333333 L16.0416667,12.8333333 C16.3166667,12.8333333 16.555,12.6591667 16.6466667,12.4025 L17.1141667,11 L18.3333333,11 L18.3333333,6.41666667 C18.3333333,5.40833333 17.5083333,4.58333333 16.5,4.58333333 Z M8.25,4.58333333 L3.66666667,4.58333333 L3.66666667,2.75 C3.66666667,2.24583333 4.07916667,1.83333333 4.58333333,1.83333333 L8.25,1.83333333 L8.25,4.58333333 Z M14.6666667,4.58333333 L10.0833333,4.58333333 L10.0833333,1.83333333 L13.75,1.83333333 C14.2541667,1.83333333 14.6666667,2.24583333 14.6666667,2.75 L14.6666667,4.58333333 Z" id="Shape" fill="#727980" fill-rule="nonzero"></path>
            </g>
          </g>
        </g>
      </svg>
      <span class="inline">{{ card_bedrooms }} {{ card_bedrooms_text }}</span>
    </div>
    <div class="bathrooms">
      {% if card_bathrooms > 1 %}
        {% set card_bathrooms_text = 'Bathrooms' %}
      {% else %}
        {% set card_bathrooms_text = 'Bathroom' %}
      {% endif %}

      <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="inline">
        <title>Slice</title>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="bathtub-24px" transform="translate(-1.000000, -1.000000)">
            <g id="Group">
              <rect id="Rectangle" x="0" y="0" width="22" height="22"></rect>
              <rect id="Rectangle" x="0" y="0" width="22" height="22"></rect>
            </g>
            <g id="Group" transform="translate(1.833333, 1.833333)" fill="#727980" fill-rule="nonzero">
              <circle id="Oval" cx="4.58333333" cy="4.58333333" r="1.83333333"></circle>
              <path d="M17.4166667,10.0833333 L16.5,10.0833333 L16.5,2.59416667 C16.5,1.16416667 15.3358333,0 13.9058333,0 C13.2183333,0 12.5583333,0.275 12.0725,0.760833333 L10.9266667,1.90666667 C10.78,1.86083333 10.6241667,1.83333333 10.4591667,1.83333333 C10.0925,1.83333333 9.75333333,1.94333333 9.46916667,2.12666667 L11.9991667,4.65666667 C12.1825,4.3725 12.2925,4.03333333 12.2925,3.66666667 C12.2925,3.50166667 12.265,3.355 12.2283333,3.19916667 L13.3741667,2.05333333 C13.5116667,1.91583333 13.7041667,1.83333333 13.9058333,1.83333333 C14.3275,1.83333333 14.6666667,2.1725 14.6666667,2.59416667 L14.6666667,10.0833333 L8.3875,10.0833333 C8.1125,9.89083333 7.865,9.67083333 7.63583333,9.42333333 L6.3525,8.0025 C6.17833333,7.81 5.95833333,7.65416667 5.72,7.54416667 C5.43583333,7.40666667 5.12416667,7.33333333 4.80333333,7.33333333 C3.66666667,7.3425 2.75,8.25916667 2.75,9.39583333 L2.75,10.0833333 L0.916666667,10.0833333 C0.4125,10.0833333 0,10.4958333 0,11 L0,15.5833333 C0,16.5916667 0.825,17.4166667 1.83333333,17.4166667 C1.83333333,17.9208333 2.24583333,18.3333333 2.75,18.3333333 L15.5833333,18.3333333 C16.0875,18.3333333 16.5,17.9208333 16.5,17.4166667 C17.5083333,17.4166667 18.3333333,16.5916667 18.3333333,15.5833333 L18.3333333,11 C18.3333333,10.4958333 17.9208333,10.0833333 17.4166667,10.0833333 Z" id="Path"></path>
            </g>
          </g>
        </g>
      </svg>
      <span class="inline">{{ card_bathrooms }} {{ card_bathrooms_text }}</span>
    </div>
  </div>
</div>
